.Friends {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-image: url('../Assets/sky.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: lightskyblue;
}

.Friends-header {
  font-size: 1.4em;
  margin-bottom: 50px;
}

.Friends-main {
  font-size: 2.5rem;
  display: grid;
  grid-gap: 0px;
  /* align-self: baseline; */
  width: 100%;
  justify-content: space-evenly;
}

.Friends-main-title {
  margin: 0 0 8px 0;
  font-size: 1rem;
}

.Friends-buttons {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 0.3em 0.5em;
  margin: 0 auto 20px auto;
}

.Friends-result {
  display: grid;
}

.Friends-result-icons {
  display: flex;
  font-size: 2.5rem;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-evenly;
}

.Friends-Y {
  padding: 15px;
  border-radius: 10px;
  background-color: #eaeaea;
  /* border-radius: 150px;
  padding: 1em 0.22em;
  width: 50%;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 20px; */
}

.Friends-C {
  padding: 15px;
  border-radius: 10px;
  background-color: #eaeaea;
  /* border-radius: 150px;
  padding: 1em 0.22em;
  width: 50%;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 20px; */
}

.Friends-restart {
  margin-bottom: 18px;
}

.Friends-restart-button {
  width: 70%;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  font-family: 'Fredoka One';
  background-color: green;
}

.Friends-menu-button {
  width: 70%;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  font-family: 'Fredoka One';
  background-color: green;
}

.Friends-scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Friends-score-container {
  display: grid;
}

.Friends-score-name {
  font-size: 0.8rem;
}

.Friends-score {
  color: green;
  display: grid;
  padding: 4px 8px;
  background-color: white;
  border-radius: 5px;
}

.Friends-score-title {
  font-size: 0.8rem;
}

.Friends-score-number {
  font-size: 1.4rem;
}
