.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  font-size: 1.4em;
  margin-bottom: 50px;
}

.App-main {
  font-size: 1.5em;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.App-R {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 1em 1.2em;
}

.App-P {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 1em 1.2em;
}

.App-S {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 1em 1.2em;
}

.App-Y {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 1.0em 0.22em;
  width: 50%;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.App-C {
  background-color: #eaeaea;
  border-radius: 150px;
  padding: 1.0em 0.22em;
  width: 50%;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
